.header {
  height: 80px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.header > div > a {
  margin: 20px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.header > div > a:hover {
  color: orange;
  text-decoration: underline;
}
